@use "../../style/variables.scss" as *;

footer {
  background-color: $color-nav-footer;
  color: white;
  width: 100%;
  max-height: 103px;
  display: flex;
  align-items: center;
  .footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
