@use "../../style/variables.scss" as *;

.container {
  width: 100%;
  text-align: center;
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  h1{
    padding-bottom: 30px;
    text-transform: uppercase;
  }
  section {
    width: 1000px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    article {
      border-radius: 16px;
      background-color: $color-light-grey;
      img {
        width: 100%;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }
      p{
        padding-top: 10px;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    section{
      grid-template-columns: 1fr;
    }
  }
}
