// color 
$color-greenery: rgba(70, 152, 32, 1);
$color-nav-footer: rgba(78, 11, 11, 1);
$color-dark-grey: rgba(65, 65, 65, 1);
$color-btn-red: rgba(125, 13, 13, 1);
$color-grey: rgba(197, 197, 197, 1);
$color-light-grey: rgba(239, 239, 239, 1);

//font 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$font-style: 'Roboto Condensed', sans-serif;; 